body {
    background-color: #97A7E1;
    font-variant: small-caps;

}

.banner{
    text-align: center;
}

.contact{
  font-weight: bold;
}

.dropDown {
    /*position: float;*/
    list-style-type: none;
    /*padding: 0;*/
    margin-left: 20%;
    margin-right: 20%;
}

.navcontainer{
  float: none;
  /*width:50% ;
  margin-left: auto ;
  margin-right: auto;*/
  border: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
}

.homepic{
  border-radius: 50px;
  border: 2px solid #000000;
  width: 260px;
  height: 180px;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border: 2px solid #000000;
}


#content {
  overflow:auto;
  width: 700px;
  height: 230px;
}

#left, #right {
  display: inline-block;
    width: 45%;
    height: 100%;
}

#left  { float:left;  }
#right { float:right; }
