body {
    background-color: lightblue;
}

.banner{
    text-align: center;
}

.dropDown {
    position: fixed;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.navcontainer{
  width: 33.3% ;
  margin-left: auto ;
  margin-right: auto;

}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
